*{margin: 0; padding: 0;outline: 0}
body{
	font-family:up;
	font-size: 16px;
	line-height: 25px;
	color: #000;
}
.templete{
	width:960px;
	margin: 0 auto;
}
.clear{
    overflow: hidden;
}
.headersection{
	/*! height: 85px; */
	background: #33442E;
	color: #fff;
}
.logo{
	width: 400px;
    float: left;
}
.logo img{
	
	width: 100px;
	height: 100px;
	float: left;
	padding-left: 21px;
}
.logo h2{
	
	margin-top: 25px;
	font-size: 33px;
	margin-bottom: 10px;
	font-family: up;
	color: #fff;
	text-shadow: 2px 5px 2px #000;
}
.logo p{
	
}
.social{
	float: right;
	margin-top: 20px;
}
.social img{
	
	width: 45px;
	height: 45px;
	padding-right: 10px;
}
.slidersection{
	
	width: 960px;
	margin: 0 auto;
	margin-bottom: 15px;
	box-shadow: 0px 5px 20px #E4B14C;
}
.navsection{
	background: #E4B14C;
}
.navsection ul{
	
	margin: 0;
	padding: 0;
	list-style: none;
}
.navsection ul li{
	
	float: left;
	background: #FAFAFA;
	display: block;
	text-decoration: none;
	padding: 5px 47px;
	margin: 5px;
	font-weight: bold;
	font-size: 20px;
	border-radius: 5px;
}
.navsection ul li a{
	
	text-decoration: none;
	color: #555;
}
.navsection ul li:hover{
    
	background: #EEEEEE;
	border-radius: 5px;
}
.navsection ul li a:hover{
	color: #f00;
}
.content{
	
	background: #fff;
}
.maincontent{
	
	width: 660px;
	background: #FFF4EF;
	float: left;
	padding: 10px;
	margin: 0px 15px 15px 0px;
	border: 1px solid #E4B14C;
}
.maincontent p{
	
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 17px;
}
.samepost{
	
}
.readmore{
	
}
.readmore a{
	
	float: right;
	text-decoration: none;
	background: #fff;
	padding: 6px 14px 6px 14px;
	color: #000;
	font-size: 15px;
	border-radius: 22px;
	border: 2px solid #FE93B8;
}
.readmore a:hover{
    
	background: #FE93B8;
	color: #fff;
}
.samepost h2,.about h2{
	
	padding: 10px;
	border-bottom: 2px solid #F0E580;
	margin-bottom: 10px;
	font-family: up;
	font-size: 27px;
}
.samepost img{
	
	width: 200px;
	height: 136px;
	float: left;
	margin-right: 16px;
	background: #fff;
	padding: 4px;
	border: 2px dotted #FFC6D7;
}
.samepost p{
	
	text-align: justify;
	line-height: 25px;
	font-size: 17px;
	margin: 0;
	font-family: up;
}
.sideber{
	
	width: 241px;
	background: #FFF4EF;
	float: right;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #E4B14C;
}
.sideber p{
	
}
.samesidebar h2{
	
	background: #E4B14C;
	color: #fff;
	padding: 6px;
	text-align: center;
	margin-bottom: 10px;
	border-bottom: 2px solid #FFF;
	border-right: 2px solid #fff;
	font-family: up;
	border-radius: 15px;
}
.samesidebar{
	padding: 0;
	margin: 0;
	list-style: none;
}
.samesidebar ul{
	
}
.samesidebar ul li{
	
	list-style: none;
	font-size: 19px;
	font-family: up;
	border-bottom: 2px dotted #9e8f1e;
	padding: 5px 0px 5px 0px;
	background: #FFF4EF;
	border-radius: 15px;
	margin-bottom: 5px;
	border-top: 2px dotted #9e8f1e;
	text-align: center;
}
.samesidebar ul li a{
	text-decoration: none;
	color: #000;
}
.samesidebar ul li:hover{
	background: #E4B14C;
}
.samesidebar ul li a:hover{
	color: #fff;
}
.samesidebar p{
	
	margin-bottom: 8px;
	font-size: 17px;
	text-align: justify;
	font-family: up;
}
.footersection{
	background: #33442E;
	text-align: center;
	height: 90px;
}
input[type="text"],input[type="Email"],input[type="Password"]{	background: #ddd;padding: 5px 180px 10px 5px;margin: 5px 5px 5px 5px;border: 3px solid #fff;border-radius: 16px;font-size: 15px;color: #000;}
input[type="submit"]{background: #e0e0e0;padding: 7px 35px 7px 29px;float: right;margin: 8px 0px 0px 0px;font-size: 17px;border-radius: 18px;border: 2px solid #fff;cursor: pointer;}
.about{
	
}
.about img{
	
	width: 300px;
	height: 300px;
	float: left;
	padding: 10px;
	background: #fb9999;
	border: 5px dotted #fff;
	border-radius: 45px;
	opacity: 0.9;
	margin-right: 10px;
}
.about p{
	
	font-size: 19px;
	text-align: justify;
}
.footersection p{margin-top: 40px;font-size: 22px;color: #fff;}